name: Build project
on: [push]
jobs:
  build-binary:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
      - name: Run cmake/devkitppc
        run: docker run --rm -v ${{ github.workspace }}:/developer devkitpro/devkitppc:latest sh -c "mkdir /developer/build && cd /developer/build && cmake .. && make"
      - name: Generate release tag
        id: tag
        run: |
          echo "::set-output name=release_tag::UserBuild_$(date +"%Y.%m.%d_%H-%M")"
      - name: Upload rpx
        uses: softprops/action-gh-release@v1
        if: ${{ github.ref == 'refs/heads/master' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: ${{ github.workspace }}/build/wupnetworkinstaller.rpx
