name: Build project
on: [push]
jobs:
  build-binary:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Run cmake/devkitppc
        run: docker run --rm -v ${{ github.workspace }}:/developer -v ${{ github.workspace}}/portlibs:/opt/devkitpro/ devkitpro/devkitppc:latest sh -c "mkdir /developer/build && cd /developer/build && /opt/devkitpro/portlibs/wiiu/bin/powerpc-eabi-cmake .. && make"
      - name: Generate release tag
        id: tag
        run: |
          echo "::set-output name=release_tag::alpha_$(date +"%Y%m%d%H%M")_$(git rev-parse --short "$GITHUB_SHA")"
      - name: Upload rpx
        uses: softprops/action-gh-release@v1
        if: ${{ github.ref == 'refs/heads/master' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag.outputs.release_tag }}
          files: ${{ github.workspace }}/build/wupnetworkinstaller.rpx
